<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EXTKeyPathCoding</key>
	<true/>
	<key>KeyPathPrefixTransformer</key>
	<true/>
	<key>SelfDefinedClassRegular</key>
	<array>
		<string>^NVM\w+$</string>
		<string>^EOD\w+$</string>
		<string>^ESP\w+$</string>
		<string>^EAC\w+$</string>
		<string>^QJM\w+$</string>
	</array>
	<key>DefaultTransformerMap</key>
	<dict>
		<key>NSURL</key>
		<string>NVMURLValueTransformerName</string>
		<key>NSUUID</key>
		<string>MTLUUIDValueTransformerName</string>
		<key>NSDate</key>
		<string>NVMTimestampToDateTransformerName</string>
		<key>UIColor</key>
		<string>NVMHexStringToColorTransformerName</string>
	</dict>
</dict>
</plist>
