<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultTransformerMap</key>
	<dict>
		<key>Data</key>
		<string>DataTransform</string>
		<key>URL</key>
		<string>URLTransform</string>
		<key>Date</key>
		<string>DateTransform</string>
		<key>UIColor</key>
		<string>HexColorTransform</string>
	</dict>
</dict>
</plist>
