<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AutoTransformTypes</key>
	<array>
		<string>NSString</string>
		<string>NSNumber</string>
		<string>NSDate</string>
		<string>NSValue</string>
		<string>NSURL</string>
		<string>SEL</string>
		<string>Class</string>
		<string>BOOL</string>
		<string>int</string>
		<string>float</string>
		<string>double</string>
		<string>NSInteger</string>
		<string>NSUInteger</string>
		<string>CGSize</string>
		<string>CGPoint</string>
		<string>CGRect</string>
		<string>CGAffineTransform</string>
		<string>UIEdgeInsets</string>
		<string>UIOffset</string>
		<string>NSTimeInterval</string>
	</array>
	<key>SelfDefinedClassRegular</key>
	<array>
		<string>^NVM\w+$</string>
		<string>^EOD\w+$</string>
		<string>^ESP\w+$</string>
		<string>^EAC\w+$</string>
	</array>
</dict>
</plist>
